$icon-max-frame-side: 18px;

:local(.wbControlPanel){
	position: absolute;
	bottom: 2vh;
	left: 0;
	height: 4vh;	
	max-height: $icon-max-frame-side;

	:local(.icon){
		width: 4vh;
		max-width: $icon-max-frame-side;
		height: 4vh;
		max-height: $icon-max-frame-side;
	}

	:local(.comment){
		position: absolute;
		right: 5vw;
	}
	:local(.like){
		position: absolute;
		right: 17vw;
	}
	:local(.repost){
		position: absolute;
		right: 29vw;
	}
}