@import '~common.scss';

:local(.container){
	position: relative;
	z-index: 2;
	background-color: white;

	border-bottom: $border-dark;
	border-top: $border-dark;

	display: flex;	
	justify-content: space-between;
	align-items: center;
	padding: 0 0.6em;
	padding-top: .2em;
	
	// center part
	svg.headerCenter{
		width: 2.1em;
		height: 2.1em;
	}
	p.headerCenter{
		@extend .u-bold-font;
		font-size: 1.3em;
	}

	// left part
	svg.headerLeft{
		width: 1.4em;
		height: 1.4em;
	}

	// right part
	span.headerRight{
		width: 1.4em;	
		height: 1.4em;	
		font-size: 1.4em;
		color: $blue;
		padding-top: 0.1em;
	}
}