@import '~common.scss';

:local(.container){
	position: relative;
	border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
	width: 100%;
	display: flex;

	:local(.avatar){
		border-radius: 5px;
		margin-right: 1em;
		flex-shrink: 0,	
	}

	:local(.content){
		display: flex;	
		flex-direction: column;

		:local(.header){
			:local(.userName){
				float: left; 
				@extend .u-bold-font;
				width: auto;
			}	
			:local(.date){
				float: right;
				width: auto;
				@extend .u-light-font;
			}
		}

		:local(.content){
			height: auto;
			line-height: 1.3em;
		}

		:local(.footer){
			padding-top: 0.7em;
			:local(.icon){
				fill: #8899a6;
				height: 1.2em;
				width: 1.2em;
				margin-right: 1.4em;
			}	
		}
	}
}